@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
}

body  {
	background-color: rgba(220, 220, 220, 0.49);
	
}

.header{
	min-height: 105vh;
	width:100%;
	background-image: linear-gradient(rgba(203, 203, 203, 0.8),rgba(203, 203, 203, 0.8)),url('images/coffee.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
}


nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	
}
.nav-links {
	flex: 1;
	text-align: center;
}

.nav-links ul li{
	list-style: none;
	display:inline-block;
	padding: 8px 12px;
	position:relative;
}
.nav-links ul li a {
	color: Black;
	text-decoration: none;
	font-size: 20px;
  	font-family: verdana;  
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: Black;
	display: block;
	margin: auto;
	transition: 0,5s;
}
.nav-links ul li:hover::after{
	width: 100%
}

.text-box {
 	width: 70%; 
	color: Black;
	position: absolute;
  	top: 50%;  
 	left: 50%;  
  	transform: translate(-50%, -50%);  
  	text-align: center;

}

.text-box h1 {
	width: 90%;
	max-height: 20%;
 	font-size: 70px; 
 	text-align: center;
 	margin: auto;

}
.text-box p{
 	margin: 20px;
 	margin-bottom: 2%;
	font-size: 20px;
	color: black;
	
}

.lueLisaa {
	display:inline-block;
	text-decoration: none;
	font-family: verdana;
	font-size: 150%;
	border: 5px solid Black;
 	padding: 15px 15px; 
  	border-radius: 10px;  
 	text-align: center; 
   	width: 20%; 
   	margin: auto;
}

.lueLisaa:visited {
	color: Black;
	background-color: transparent;
	text-decoration: none;
}

.lueLisaa:hover {
	color: slateblue;
	background-color: Black;
	text-decoration: underline;
}

.lueLisaa:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

.more {
   	margin-top: 100px; 
  	margin-bottom:100px; 
	font-family: verdana;
	color: black;
 	float: center; 
	text-align: center;
	column-count: 3;
	
	}
.more h3 {
	color: Black;
	float: center;
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}
.more p{
	margin: auto;
	font-size: 15px;
 	width: 50%; 
	text-align: center; 
}



.contact {
 	text-align: center;
 	margin-bottom: 50px; 
 	margin-top: 50px;
 
 	
	
	}
.contact h3 {
  	float: center;  
 	margin-top:20px; 
 	margin-bottom:20px; 
 	text-decoration: none; 
 	font-family: verdana; 
 	font-size: 30px; 
 	color: Black; 
 	cursor: pointer; 
}

.contact:visited {
	color: Black;
	background-color: transparent;
	text-decoration: none;
}

.contact:hover {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.contact:active {
	color: black;
	background-color: transparent;
	text-decoration: none;
}
nav .fa{
	display: none;
}


/* CONTACT */



.contactInfo {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2%;
	padding-left: 5%;
	padding-right: 5%;
	float: left;
	margin-left: 20%;
	margin-top: 8%;
	line-height: 2;
	
}

.contactInfo h3{
	font-size: 30px;
	margin-top: 10%;
}

.map img{
 	height: 20%;
 	width: 20%;
 	float: right;
 	margin-right: 25%;
 	margin-top: 10%;
 	
	
}

.otaYhteytta {
	float:left;
 	width: 80%; 
	margin:20px;
	margin-left:10%;
	
}

.otaYhteytta h3{
	font-size: 40px;
	margin: 15px;

	
}
label {
	font-size: 15px;
}

input  {
	line-height:2;
	margin: 10px;
	margin-bottom: 15px;
	width: 40%;
	}
	
input[type=submit]{
	width:15%;
	height: 30px;
}









@media(max-width: 700px){
	
	.header{
		min-height: 110vh;
	}
	
/* 	NAVIKOINTI */
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position:absolute;
		background: slateblue;
		height: 100vh;
		width: 200px;
		top: 0;
		right:-200px;
		text-align: left; 
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: black;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
		
	}
	
	.nav-links ul{
	padding: 30px;
	}

/* 	ETUSIVU */
	.text-box h1 {
		font-size: 37px;
	
	}
	
	.text-box p{
		font-size: 18px;
		color: black;
		text-align:center;
		margin: 5px;
		width: 90%;
	}
	
	.more {
		width: 90%;
		column-count:1;
	}
	
	.more h3 {
		margin-bottom: 10px;
	}
	
	.more p {
	width: 90%;
	margin-bottom: 20px;
	}
	
	.lueLisaa {
	width:70%;
	padding: 3%;
	border: 3px solid black;
	margin:5px;
	}
	
/* 	CONTACT */

	.contactInfo {
	width: 70%;
	margin-left: 55px;
	margin-bottom:20px;
	margin-top:10px;
	padding-right: 10px;
	padding-left:10px;
	}
	
	.map img{
	float: left;
	width:82%;
	margin:10px;
	margin-left:40px;
	}
	input  {
	width: 60%;
	}
	
	input[type=submit]{
	width:15%;
	height: 30px;
	}
	
	
 } 

